<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue slider</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- my-style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="slider" v-for="(obj, i) in arrImages" :key="obj.image">
            <div class="selected" :class="{active: i === activeIndex}">
                <img :src="'img/' + obj.image" :alt="obj.title" class="mod-img">
            </div>
        </div>
        <div class="img-right">
            <div class="controls">
                <div class="btn-up"><i class="fa-solid fa-chevron-up"></i></div>
                <div class="btn-down"><i class="fa-solid fa-chevron-down"></i></div>
            </div>
            <div class="card"  v-for="(obj, i) in arrImages" :key="obj.image">
                <img :src="'img/' + obj.image" :alt="obj.title" class="img-size">
            </div>
        </div>
    </div>

    <!-- <div class="container-down">
        <button class="mod-btn">Stop</button>
        <button class="mod-btn-reverse">Reverse</button>
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>